/* General App styling */
.App {
  text-align: center;
  background-color: #f0f4f8;
  padding: 20px;
}

/* Header and app layout */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Custom Webcam styling */
.webcam-video {
  border: 5px solid #61dafb;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 640px;
  height: 480px;
}

/* Canvas styling for bounding boxes and text */
.canvas-box {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  z-index: 8;
  width: 640px;
  height: 480px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

/* Add button styling for file input */
.upload-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.upload-btn:hover {
  background-color: #21a1f1;
}

/* Text and other app elements */
.App-link {
  color: #61dafb;
  margin-top: 20px;
  font-size: 18px;
}
